/* Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    flex-wrap: wrap;
    max-height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Colors Palette */

:root {
    --dark--: #000000;
    --lightdark--: #080B12;
    --body--: #141922;
    --player: #282828;
    --sidebartext--: #5E6267;
    --primary: #FFFFFF;
}

/* Main */

main {
    height: calc(100vh - 100px); 
}

.app_header {
    background-color: var(--lightdark--);
    justify-content: space-between;
    padding: 1rem 0.5rem;
    width: 100%;
}

.app_header img {
    width: 7rem;
    padding-top: 0.2rem;
}

.btn {
    border-radius: 1.6rem;
    border: 1px solid var(--primary);
    padding: 0 3rem;
    line-height: 4;
    font-weight: bold;
    font-size: 0.6rem;
    color: var(--primary);
    background-color: var(--dark--);
    text-decoration: none;
  }


.sidebar {
    background-color: var(--dark--);
    height: calc(100% - 73px);
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.sidebar .sidebar_menu, .sidebar_playlist, .sidebar_footer {
    color: var(--sidebartext--);
}

.border_mini {
    border-bottom: 1px solid var(--sidebartext--);
    margin: auto;
}

.app_body {
    background-color: var(--body--);
    height: calc(100% - 73px);
    overflow: auto;
}


.player {
    background-color: var(--player);
}

.player .play_now {
    flex-grow: 1;
}

.player .control_panel {
    flex-grow: 2;
}

.player .volume {
    flex-grow: 1;
}

footer {
    height: 100px;
}


/* Debug */

.debug .sidebar {
    width: 10%;
    height: calc(100% - 73px);
}

/* .debug .sidebar_body {
    background-color: brown;
    height: 50%;
}

.debug .sidebar_footer {
    background-color: crimson;
    height: 10%;
} */

.debug .app_body {
    width: 90%;
    height: calc(100vh - 100px);
}

.debug .menu {
    height: 50px;
    background-color: darkgreen;
}

.debug [class^="col"] {
    margin: 2rem 1rem;
    height: 250px;
    border: 1px solid red;
}

.debug .player {
    height: 100px;
    width: 100%;
}

.debug .play_now {
   background-color: darkmagenta;
}

.debug .control_panel {
   background-color: darkorange;
}

.debug .volume {
    background-color: darkslategray;
}



/* Utilities */

.d-flex {
    display: flex;
}

.col_2 {
    width: calc((100% / 12) *2);
}

[class^="col"] {
    margin: 2rem 1rem;
}