/* Common */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    flex-wrap: wrap;
    height: 100vh
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Colors Palette */

:root {
    --dark--: #000000;
    --lightdark--: #080B12;
    --body--: #141922;
    --player: #282828;
    --sidebartext--: #5E6267;
    --primary: #FFFFFF;
}

/* Main */

.top {
    height: calc(100% - 100px);
}

.upgrade {
    background-color: var(--lightdark--);
    justify-content: flex-end;
    padding: 1rem 0.5rem;
    width: 100%;
}

.btn {
    border-radius: 1.6rem;
    border: 1px solid var(--primary);
    padding: 0 3rem;
    line-height: 4;
    font-weight: bold;
    font-size: 0.6rem;
    color: var(--primary);
    background-color: var(--dark--);
    text-decoration: none;
  }

.sidebar {
    background-color: var(--dark--);
    height: 100%;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.sidebar .sidebar_menu, .sidebar_playlist, .sidebar_footer {
    color: var(--sidebartext--);
}

.sidebar_header {
    font-size: 0.6rem;
}

.sidebar_header .logo {
    width: 10rem;
    padding: 0.8rem;
}

.sidebar_header .sidebar_menu img {
    width: 2.3rem;
    padding: 0.2rem;
    filter: invert(0.5);
    vertical-align: middle;
}

.sidebar_playlist {
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 1rem;
}

.sidebar_playlist h5 {
    font-weight: bold;
    color: var(--primary);
    font-size: 0.7rem;
}

.sidebar_playlist i {
    color: var(--sidebartext--);
    font-size: 2rem;
    vertical-align: middle;
    padding-right: 0.2rem;
}

.sidebar_footer {
    font-size: 0.7rem;
}

.sidebar_footer .app_install, .john_doe {
    padding: 0.5rem;
}

.app_install i {
    padding-right: 0.3rem;
}

.john_doe {
    color: var(--primary);
    font-weight: bold;
}

.john_doe i {
    padding-right: 0.3rem;
    font-size: 1rem;
}

.border_mini {
    border-bottom: 1px solid var(--sidebartext--);
    width: 90%;
    margin: auto;
}

.app_body {
    background-color: var(--body--);
    height: 100%;
    width: calc(100% - 200px);
    overflow-y: auto;
}

.menu {
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    color: var(--sidebartext--);
    font-size: 0.7rem;
    font-weight: bold;
}

.player {
    background-color: var(--player);
}

.play_now {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.play_now img {
    width: 3.5rem;
    padding-left: 0.5rem;
}

.album_details {
    padding-right: 2rem;
}

.album_details h5 {
    color: var(--primary);
    font-weight: bold;
}

.album_details span {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--sidebartext--);
}

.play_now i {
    color: var(--sidebartext--);
}

.player .play_now, .volume {
    flex-grow: 1;
}

.player .control_panel {
    flex-grow: 2;
}

footer {
    height: 100px;
}


/* Debug */

.debug [class^="col"] {
    margin: 2rem 1rem;
    height: 250px;
    border: 1px solid red;
}

/* .debug .player {
    height: 100px;
    width: 100%;
}

.debug .play_now {
   background-color: darkmagenta;
}

.debug .control_panel {
   background-color: darkorange;
}

.debug .volume {
    background-color: darkslategray;
} */



/* Utilities */

.d-flex {
    display: flex;
}

.col_2 {
    width: calc((100% / 12) *2);
}

[class^="col"] {
    margin: 2rem 1rem;
}